<div class="jumbotron">
		<h1 class="text-center" style="color: #706D78"><strong>Welcome to RVParkSell</strong></h1>
		<p class="text-center">Wethere your here to purchase an RV Park or your ready to list your own park. RVParkSell is the fastest way to do it. Choose an option below to sell or search. We promise to make the process easy!</p>
	<div class="row">
		<div class="col-md-6">
			<%= link_to "View All Parks for Sale", "#", class: "btn btn-primary btn-lg btn-block" %>
		</div>
		<div class="col-md-6">
			<%= link_to "Add a Listing (Only $14.99)", "#", class: "btn btn-default btn-lg btn-block" %>
		</div>
	</div>
</div>
<h2 class="text-center home-header text-muted">Recently Added RV Parks</h2>