<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h3 style="color: #ff5a5f; margin-bottom: -10px;"><b>RVParkSell</b></h3>
			<h4 class="text-muted">The Easy Way to Sell your RV Park</h4>
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-4">
					<h3 class="footer-header">About us</h3>
					<p>Our Story</p>
				</div>
				<div class="col-md-4">
					<h3 class="footer-header">Our Services</h3>
					<p>Become a Member</p>
					<p>Our Blog</p>
					<p>Advertising</p>
				</div>
				<div class="col-md-4">
					<h3 class="footer-header">Follow & Share</h3>
					<p>Facebook</p>
					<p>Twitter</p>
					<p>Google+</p>
					<p>Pinterest</p>
				</div>
			</div>
		</div>
	</div>
		<br/>
	<div class="row">
		<div class="col-md-12">
			<p class="pull-right text-muted">Made with <i class="fa fa-heart fa-lg"></i> in Japan  |  &copy; OkiFinder 2015</p>
		</div>
	</div>
</div>